<!-- <div class="row">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                href="#list-profile" role="tab" aria-controls="profile">Profile</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                href="#list-messages" role="tab" aria-controls="messages">Messages</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                href="#list-settings" role="tab" aria-controls="settings">Settings</a>
        </div>
    </div>
</div>  -->

<div class="row">
    <div class="col-2 pt-5">
        <div class="list-group" id="list-tab" role="tablist" *ngFor="let function of functionList | keyvalue">
            <!-- <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
                href="#list-home"  role="tab" *ngFor="let hero of sessionList" >Home</a> -->
            <!-- <a class="list-group-item list-group-item-action" data-toggle="list" aria-controls="profile" href="{{function.key}}">{{function.value}}</a> -->
            <a class="list-group-item list-group-item-action " id="{{function.key}}" 
            routerLink="{{function.key}}" role="tab">{{function.value}}</a>
        </div>
    </div>
    <div class="col-6 pl-5 offset-md-2">
        <router-outlet></router-outlet>
    </div>
</div>

<!-- <div  *ngFor="let list of headerList | keyvalue">
    <a class="active" href="{{list.key}}">{{list.value}}</a>
  </div> -->
  
  