<form [formGroup]="user" >
    <input type = "text" name = "email" placeholder = "email" formControlName="userEmail">
    <br/>
    <input type = "text" name = "pwd" placeholder = "password" formControlName="userName">
    <br/>
    <input type = "submit" value = "Add" (click)="onClickSubmit()" [disabled]="anotherval">
    <input type = "submit" value = "Add Another" (click)="addAnotherVal()" [disabled]="!anotherval">
    <input type = "submit" value = "Final" (click)="fincalSave()">
</form>
<form [formGroup]="validationCheck">
<input type="text" formControlName="userEmail">
<input type="text" formControlName="userName">
<button (click)="checkValidation()">Check Validation</button>
<button (click)="removeValidation()">Remove Validation</button>
</form>