<div class="container pt-5">
    <div class="col-md-6">
        <span style="color: #fd5565;"
            *ngIf="Product.errorCode!='0'">{{Product.errorMessage}}</span>
        <form #product="ngForm" (ngSubmit)="onClickSubmit(product.value)" class="form-group text-white">
            <label for="productCode">Product Code :</label>
            <input type="number" name="productCode" placeholder="Enter Product Code" ngModel class="form-control "
                required>
            <br />
            <label for="productName">Product Name :</label>
            <input type="text" name="productName" placeholder="Enter Product Name" ngModel class="form-control "
                required>
            <br />
            <label for="productGroup">Product Group :</label>
            <input type="number" name="productGroup" placeholder="Enter Product Group Code" ngModel
                class="form-control " required>
            <br />
            <label for="productDesc">Product Description :</label>
            <textarea class="form-control" rows="3" id="productDesc" name="productDesc"
                placeholder="Enter Product Description" ngModel></textarea>
            <input type="submit" value="Submit" class="btn btn-primary mt-3">
        </form>
    </div>
</div>